#ignorar tudo
*

#não ignorar os seguintes arquivos
!/.gitignore
!main.py
!lexer.py
!mypaser.py
!translater.py
!builder.py
!README.md
!LICENSE.md

#não ignorar os seguintes arquivos dentro do diretório 'src_files'
!src_files/
!src_files/in_out.pin
!src_files/condition.pin
!src_files/repetition.pin
!src_files/all.pin
